<div class="d-flex flex-column">
  <h3 class="mb-4 text-center">Esqueceu a Senha?</h3>
  <p class="text-center mb-4">Informe seu e-mail para receber o link de redefinição de senha.</p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="Seu e-mail" formControlName="email">
      <label for="email">E-mail</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="forgotPasswordForm.invalid">Enviar</button>
    <div class="text-center">
      <a routerLink="/login" class="text-decoration-none d-flex align-items-center justify-content-center">
        <mat-icon>arrow_back</mat-icon>
        <span class="ms-1">Voltar para o Login</span>
      </a>
    </div>
  </form>
</div>
