.top-menu-root {
   
  background: var(--color-surface);
  box-shadow: var(--shadow-grid-start);
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 14px;
  margin-inline: 16px;
}
