<div class="sidenav-header">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-nav-list>
  <div *ngFor="let section of menuSections">
    <h3
      mat-subheader
      *ngIf="!isCollapsed && section.title"
  [ngClass]="{ 'whatsapp-subheader': section.title.toLowerCase() === 'whatsapp' }"
    >
      {{ section.title }}
    </h3>
    
  <a mat-list-item *ngFor="let item of section.items" [routerLink]="item.route" routerLinkActive="active-link"
     [matTooltip]="isCollapsed ? item.label : ''"
     matTooltipPosition="right"
  [ngClass]="{ 'whatsapp-item': item.route === '/whatsapp' }">
      <mat-icon *ngIf="item.icon && !item.svgIcon" matListItemIcon>{{ item.icon }}</mat-icon>
      <mat-icon *ngIf="item.svgIcon" [svgIcon]="item.svgIcon" matListItemIcon></mat-icon>
      <span *ngIf="!isCollapsed">{{ item.label }}</span>
    </a>
    <mat-divider *ngIf="!isCollapsed && menuSections.indexOf(section) < menuSections.length - 1"></mat-divider>
  </div>
</mat-nav-list>

<div class="sidenav-footer">
  <button mat-icon-button (click)="toggleSidenavPosition.emit()">
    <mat-icon>{{ sidenavPosition === 'start' ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
</div>
