.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.mat-nav-list a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collapsed .mat-nav-list a {
  justify-content: center;
}

.mat-icon {
  margin-right: 16px;
}

.collapsed .mat-icon {
  margin-right: 0;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.side-menu-root, .mat-nav-list, .mat-nav-list a, .mat-nav-list span, .mat-nav-list h3, .sidenav-footer {
  font-size: 0.85rem;
}

.mat-nav-list h3 {
  font-size: 1rem;
}
