.sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  width: 220px; /* Largura do menu expandido */
  transition: width 0.3s ease-in-out;
  background-color: #f5f5f5; /* Cinza claro */
  border-right: 1px solid #e0e0e0; /* Borda sutil na direita */
}

.mat-sidenav[align="start"] {
  box-shadow: var(--shadow-grid-start);
  border-right: 1px solid #e0e0e0;
  border-left: none;
}

.mat-sidenav[align="end"] {
  box-shadow: var(--shadow-grid-end);
  border-left: 1px solid #e0e0e0;
  border-right: none;
}

.mat-sidenav.collapsed {
  width: 60px;
}

.mat-nav-list a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-sidenav.collapsed .mat-nav-list a {
  justify-content: center;
}

.mat-sidenav .mat-icon {
  margin-right: 16px;
}

.mat-sidenav.collapsed .mat-icon {
  margin-right: 0;
}

.content {
  padding: 20px;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
